{
  "log": {
    "_recordingName": "SponsoredDisplayProductAdsOperation/listProductAdsExtended/should retrieve a list of product ads ",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "48f7498ff9e9e6832040d993616994fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/productAds/extended"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "authorized customer is null"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 1502,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
