{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/listProductAdsExtended/should retrieve a list of product ads ",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "23b3cd7822666771e36ccaaac468af35",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "-1"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92,
            "text": {
              "code": "UNAUTHORIZED",
              "details": "HTTP 401 Unauthorized",
              "requestId": "VWGDDEP0X1STB3TMYD43"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "VWGDDEP0X1STB3TMYD43"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 1523,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
